{% extends 'base.html.twig' %}

{% block title %}PosteOne{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/poste.css') }}">
{% endblock %}

{% block body %}
    <h1 class="titre">Poste 1</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ poste_one.title }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ poste_one.start ? poste_one.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ poste_one.end ? poste_one.end|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsApprouved</th>
                <td>{{ poste_one.isApprouved ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_poste_one_index') }}" class="btnAction" class="btnAction">Retour</a>

    <a href="{{ path('app_poste_one_edit', {'id': poste_one.id}) }}" class="btnAction">Modifier</a>
    <a href="{{ path('app_approve_reservation_one', {'id': poste_one.id}) }}" class=""btnAction>Approuver</a>

    {{ include('poste_one/_delete_form.html.twig') }}
{% endblock %}
